sqlite3
tk
customtkinter
Pillow==9.2.0
pyttsx3==2.90
pywhatkit==5.2
wikipedia-api==0.5.8
os-sys==2.1.4
subprocess-run==0.0.8
webbrowser==0.2.3
datetime
pyowm==3.3.0
requests==2.31.0
random2==1.0.1
pygame==2.3.0
